body {
    display: grid;
    height: 100vh;
    place-items: center;
}

.container {
    border-radius: 5px;
    background-color: deeppink;
    width: 300px;
    height: 400px;
    padding: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
}

.button {
    height: 60px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: whitesmoke;
}

input {
    outline: none;
    border: 1px solid transparent;
}

.button:hover {
    background-color: chartreuse;
}

.operator {
    font-size: 1.4rem;
    background-color: purple;
    color: whitesmoke;
}

.operator:hover{
    background-color: chartreuse
}
.clear{
    background-color: blue;
    border-color: greenyellow;
    color: whitesmoke;
    width: 80px;
    height: 40px;
}

.clear:hover{
    background-color: chartreuse;
}

.equal-sign {
    background-color: greenyellow;
    color: blue;
}

.equal-sign:hover{
    background-color: purple;
}

.screen{
    justify-content: left;
    color: black;
    font-size: medium;
    width: 50%;
    height: 30%;
    cursor: default;
    padding: 10px;
    padding-left: 40px;
    margin: auto;
    margin-bottom: 10px;
}